table {
	width: 100%;
	height: 98vh;
	border: 1px solid black;
	border-collapse: collapse;
}

td {
    text-align: center;
    width: 50%;
}

.case1 {
    background-color: #9c9696;
    color: rgb(0, 255, 64);
}

.case2 {
    background-color: #6bd5f0;
    color: grey;
}
